.wrap {
    height: .42rem;
    width: 100%;
    position:fixed;
    top: 0;
    background-color: aliceblue;
    z-index: 999;
}
.wrap div {
    float: left;
    width: 50%;
    font-size: .16rem;
    font-weight: 300;
    color: rgba(34,213,156,1);
    text-align: center;
}
.forms {
    margin-top: .5rem;
    position: relative;
    height: .3rem;
    overflow: hidden;
    background-color: #fff;
}
input {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    padding-top: .05rem;
    padding-bottom: .04rem;
    padding-left: .24rem;
    font-size: .14rem;
    text-align: center;
    border-radius: .3rem;
    background: 0 0;
}
.songlist {
    position: relative;
    height: 2rem;
    margin: .2rem .16rem .1rem;

}
.songlist ul {
    margin-bottom: -.1rem;
    padding: .1rem 0;
    overflow-x: auto;
    overflow-y: hidden;
    margin-right: 0;
    white-space: nowrap;
}
.songlist ul li {
    vertical-align: top;
    display: inline-block;
    margin-bottom: .14rem;
    font-size: .12rem;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: .05rem;
}
.songlist ul li img {
    width: 1.5rem;
    height: 1.5rem;
}
.songlist ul li div {
    text-align: center;
    color: rgba(26,26,26,1);
}
#special {
    width: 3rem;
}
#special img {
    width: 3rem;
}


.searchresult {
    display: none;
    width: 3rem;
    height: 5rem;
    background-color:beige;
    position: absolute;
    left: .3rem;;
    top: .8rem;
    z-index: 2;
}
.searchresult li {
    list-style: none;
    margin-bottom: 0.2rem;
}